.header {
  background-color: rgba(66, 245, 182, 0.2);
}

.border-3 {
  border-width: 3px !important;
}

.profile-pic-div {
  max-width: 150px;
}

.profile-pic-span {
  max-width: 150px;
  max-height: 150px;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.profile-pic {
  max-width: 100%;
}

.title {
  max-height: 150px;
}

.pro-skills {
  background-color: rgba(66, 245, 182, 0.2);
}

.rakuten {
  background-color: rgba(66, 245, 182, 0.2);
}

.honestbee {
  background-color: rgba(66, 245, 182, 0.2);
}

.quickdesc {
  overflow-wrap: break-word;
}
